@import "../../colors";

h2 {
  margin: 0;
  text-align: right;
  color: $primaryColor;
  padding-right: .6em;
  padding-top: .4em;
}

ul {
  list-style: none;
  padding: 0;
}

.bookshelf {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: repeat(1fr);
  gap: 2em;
  text-align: right;
  padding: 0 1em 0 0;
  margin-bottom: 0;

  ul, ul li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .bookshelfRead, .bookshelfCurrentlyReading,
  .bookshelfToRead {
    flex-direction: column;
    align-items: flex-end;
  }
  
}