@import "../../colors";

.bookshelfContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .bookshelfTitle, h2 {
    border: 2px solid $primaryColor;
    border-radius: 10px;
    background-color: $secondaryColor;
  }

  h2, h3 {
    margin: 0;
    text-align: right;
    color: $primaryColor;
    padding: 25px 40px 15px 40px;
    font-size: clamp(1.3rem, 2vw, 1.9rem);
   
  }
  h2 {
    width: 90%;
    margin-top: 15px;
    font-size: clamp(1.6rem, 2vw, 2rem);
    padding: 30px 40px;
  }
}



ul {
  list-style: none;
  padding: 0;
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-auto-rows: repeat(1fr);
  gap: 2em;
  text-align: right;
  margin-bottom: 0;
  width: 90%;

  .bookshelfDetails {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 5px;
  }

  h4 {
    margin: 0;
    
  }

  .expand{
    border: 2px solid $secondaryColor;
    border-radius: 5px;
    background-color: $secondaryColor;
    color: $blackText;
    text-align: right;
    padding-right: 35px;
    width: 5%;
    margin: 0 25px 0 15px;
  }

 
  
  .read, .currentlyReading,
  .toRead {
    justify-content: center;
    border: 2px solid $secondaryColor;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: $backgroundOpaque;
    width: auto;

    li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: $background;
      border: 2px solid $secondaryColor;
      border-radius: 10px;
      margin: 5px 0;
      padding: 20px 30px;
      border-radius: 10px;
      max-width: 190px;

      img{
        box-shadow: 2px 2px $background;
      }
    }

    p.title{
      text-align: center;
      font-size: clamp(.9rem, 2vw, 1rem);
    }
  }

  .bookButtons {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    .link {
      min-width: 100px;
      max-width: 300px;
      font-size: clamp(0.7rem, 1.4vw, 1rem);
      position: static;
      padding: 2px 5px;
      margin: 5px auto;
    }
  }
  
}

// media queries

@media only screen and (min-width: 620px){
 
  .bookshelf{
    .read, .currentlyReading,
    .toRead {
      grid-template-columns: minmax(190px, 220px) 1fr;
      
    }
  }
}

@media only screen and (min-width: 847px){
 
  .bookshelf{
    .read, .currentlyReading,
    .toRead {
      grid-template-columns: minmax(190px, 220px) 1fr 1fr;
      
    }
  }
}

@media only screen and (min-width: 1128px){
  
  .bookshelf{
    .read, .currentlyReading,
    .toRead {
      grid-template-columns: minmax(190px, 220px) 1fr 1fr 1fr;
      .link {
        min-width: 125px;
      }
    }
  }
}

@media only screen and (min-width: 1375px){
  .bookshelf{
    .read, .currentlyReading,
    .toRead {
      grid-template-columns: minmax(190px, 220px) 1fr 1fr 1fr 1fr;
    }
  }
}