@import "../../colors";


.show , .hide{
  position: absolute;
  top: 9%;
  left: 1000px;
  height: 100%;
  text-align: center;
  padding: 1em .2em;

  .deleteFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    p {
      font-size: clamp(1rem, 2.5vw, 2rem);
      margin-bottom: 60px;
    }
  }
  .yesButton {
    margin: 2em 0 1em 0;
  }
  .yesButton, .noButton {
    font-size: clamp(1rem, 2.2vw, 1.6rem);
    max-width: 300px;
  }
}

.show {
  left: 0;
  z-index: 40;
  height: 80%;
}


