@import "../../colors";

button {
  width: 30%;
  margin: 3px auto;
  font-size: clamp(1rem, 2vw, 2rem);
  text-transform: uppercase;
  border: 2px solid $secondaryColor;
  border-radius: 5px;
  background-color: $primaryColor;
  color: $whiteText;
  transition: all .7s;
  font-weight: 600;
}

button:hover,
button:focus-within{
  border: 2px solid $primaryColor;
  background-color: $secondaryColor;
  color: $blackText;
}