@import "../../colors";

.card{
  position: relative;
  top: 5%;
  z-index: 50;
  width: 100%;
  background-color: $background;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  margin: 0;
}