@import "../../colors";


.addBookForm {
  top: 8%;
  height: 80%;
  display: flex;
  flex-direction: column;


}

.cancel {
  width: 50%;
  max-width: 130px;
  margin: 3px auto;
  padding: 1px 4px;
  font-size: clamp(1rem, 3vw, 3rem);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid $secondaryColor;
  border-radius: 5px;
  background-color: $primaryColor;
  color: $secondaryColor;
  transition: all .7s;
}

.cancel:hover,
.cancel:focus-within {
  border: 2px solid $primaryColor;
  background-color: $secondaryColor;
  color: $text;
}

.findBookButton {
  min-width: 130px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 3em 1em;

  input, select{
    background-color: $background;
    border: 2px double $secondaryColor;
    border-radius: 5px;
    box-shadow: 3px 3px $text;
    font-size: clamp(1rem, 2vw, 3rem);
    padding: .4em;
    margin: .6em 0;
  }

  label {
    font-size: clamp(1rem, 2vw, 3rem);
    margin: 2em 0 .6em 0;
  }

  .addBookButton {
    margin: 3em auto 2em auto;
  }

 
}