.moreInfo{
  left: 0;
  top: 9%;
  display: flex;
  flex-direction: column;
}




.moreInfoButton{

 font-size: clamp(.5rem, 2vw, .8rem);
 min-width: 45px;
 width: 100%;
 padding-left: 8px;
 padding-right: 8px;

}