$blackText: rgb(0, 0, 0);
$primaryColor: rgb(66, 67, 66);
$secondaryColor: rgb(186, 243, 249);
$secondaryColorOpaque: rgba(246, 246, 184, .2);
$accent: rgb(2, 51, 172);
$background: rgb(145, 145, 145);
$backgroundOpaque: rgba(255, 255, 255, 0.5);
$header: #483C0C;
$whiteText: rgb(255, 255, 255);