$blackText: rgb(0, 0, 0);
$primaryColor: #424342;
$secondaryColor: #baf3f9;
$secondaryColorOpaque: rgba(186, 243, 249, .5);
$accent: rgb(2, 51, 172);
$background: #ffffff;
$backgroundOpaque: rgba(186, 243, 249, 0.2);
$selectBackground: rgba(255, 255, 255, 0.7);
$header: #483C0C;
$whiteText: rgb(255, 255, 255);
$oldBackground: #919191;
$oldSelectBackground:rgba(145, 145, 145, 0.9);
$oldBackgroundOpaque:rgba(218, 218, 218, 0.7);