$text: rgb(0, 0, 0);
$primaryColor: rgb(7, 6, 28);
$secondaryColor: rgb(246, 246, 184);
$secondaryColorOpaque: rgba(246, 246, 184, .2);
$accent: rgb(2, 51, 172);
$background: rgb(145, 145, 145);
$backgroundOpaque: rgba(145, 145, 145, .3);
$header: #483C0C;
