@import "colors";

.pageContainer {
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../public/books.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: $background;
  margin: 0;
  min-height: 100%;
}

header {
  background-color: $background;
  border: 2px solid $secondaryColor;

  h1 {
    margin: 0;
    padding: .5em;
    text-align: center;
    color: $header;
    font-size: clamp(2rem, 4vw, 3rem);
  }

  p{
    font-size: clamp(.9rem, 2vw, 1.4rem);
    text-align: center;
    padding: 0 .5em;
  }
}

footer {
  left: 0;
  width: 100%;
  background-color: $background;
  text-align: center;
  margin: 0;
  p{
    margin: 0;
    padding: .5em;
  }
}
